
  <table>
    <!-- First Row -->
    <tr>
      <th>Enter Loan Data:</th>
      <td></td>
      <th>Loan Balance, Cumulative Equity, and Interest Payments</th>
    </tr>
    <!--  Second Row  -->
    <tr>
      <td>
        Amount of the loan ($):
      </td>
      <td><input id="amount" onchange="calculate();"></td>
      <td rowspan=8>
        <!--
   We will use the canvas element to create a graph if your interested in
    Learning more about the canvas element and other HTML5 element
    visit https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API
  -->
        <canvas id="graph" width="400" height="250"></canvas>
      </td>
    </tr>

    <!-- Third Row -->
    <tr>
      <td>Annual Interest (%):</td>
      <td> <input id="apr" onchange="calculate();"></td>
    </tr>
    <!-- Fourth Row -->
    <tr>
      <td> Repayment period (years): </td>
      <td> <input id="years" onchange="calculate();"> </td>
    </tr>
    <!-- Fifth Row -->
    <tr>
      <td>
        Zipcode (to find lenders):
      </td>
      <td><input id="zipcode" onchange="calculate();"></td>

      <!-- Sixth Row -->
    <tr>
      <th> Approximate Payments: </th>
      <td>
        <button onclick='calculate();'>Calculate</button>
      </td>
    </tr>
    <!-- seventh Row -->
    <tr>
      <td>Monthly payment: </td>
      <td>$<span class="output" id="payment"></span></td>
    </tr>

    <!-- Eighth Row -->
    <tr>
      <td>Total payment: </td>
      <td>$<span class="output" id="total"></span></td>
    </tr>

    <tr>
      <td>Total interest: </td>
      <td>$
        <span class="output" id="totalinterest"></span>
      </td>
    </tr>

    <!-- Ninth Row -->
    <tr>
      <th> Sponsors: </th>
      <td colspan="=2">
        Apply for your loan with one of these fine lenders:
        <div id="lenders"></div>
    </tr>

  </table>
