<!-- 
  git branch template-conversion

  This is the branch for writing the code to create a template 
  from the code written in Vanilla Javascript. This will be converting the
  html from the original project into a template. In angular Templates are a key feature.
  It is still HTML and does not require any intermediate translation, unlike most template
  engines (cough cough MUSTACHE im looking at you!!!)

  Template in Angular combine simplicity with power by allowing us to 
  extend HTML by creating an internal domain-specific language (DSL) inside it with 
  custom elements and attributes.



  
 -->


  <table>
   
    <tr>
      <th>{{enterLoanData}}</th>
      <td>{{calculatorTitle}}</td>
    </tr>
    <tr>
      <td>
        {{loanAmount}}
      </td>
      <td><input id="amount" onchange="calculate();"></td>
      <td rowspan=8>
        <canvas id="graph" width="400" height="250"></canvas>
      </td>
    </tr>

    <tr>
      <td>{{annualInterest}}}</td>
      <td> <input id="apr" onchange="calculate();"></td>
    </tr>
    <tr>
      <td> {{repaymentPeriodInYears}} </td>
      <td> <input id="years" onchange="calculate();"> </td>
    </tr>
    <tr>
      <td>
      {{zipcode}}
      </td>
      <td><input id="zipcode" onchange="calculate();"></td>

    <tr>
      <th> {{ approximatePayments}} </th>
      <td>
        <button onclick='calculate();'>{{calculate}}</button>
      </td>
    </tr>
    <tr>
      <td>{{monthlyPayment}} </td>
      <td>{{currencySymbol}}<span class="output" id="payment"></span></td>
    </tr>

    <tr>
      <td>{{ totalPayment }} </td>
      <td>{{currencySymbol}}<span class="output" id="total"></span></td>
    </tr>

    <tr>
      <td>{{totalInterest }}</td>
      <td>{{currencySymbol}}
        <span class="output" id="totalinterest"></span>
      </td>
    </tr>

    <tr>
      <th> {{sponsors}}</th>
      <td colspan="=2">
        
        <div id="lenders">{{lendersText}}</div>
    </tr>

  </table>
