<!-- 
  git branch template-conversion


  STAGE-TWO Template

  A stage two template is a template that has been created from a static template
  to a more dynamic template.

 Stage-TWO template can be used to quickly convert a template so its static text can be 
 interpolated at build time ALSO that we can change the text with logic.


  This is the branch for writing the code to create a template 
  from the code written in Vanilla Javascript. This will be converting the
  html from the original project into a template. In angular Templates are a key feature.
  It is still HTML and does not require any intermediate translation, unlike most template
  engines (cough cough MUSTACHE im looking at you!!!)

  Template in Angular combine simplicity with power by allowing us to 
  extend HTML by creating an internal domain-specific language (DSL) inside it with 
  custom elements and attributes.


 Example 
 Suppose we would like to use our calculator with a different currency?
 Or how about if we wanted to use this calculator for a different type of loan?

  Going into the HTML document can get messy and we would lead to more typos and bugs.


  adding the text from a separate file not only gives us flexibility but also 
  gives us cleaner code. With Angular Typescript you can write your code in such a 
  way that promotes easier to read code and more predictable component driven
  development.

  Stage-One Templates do not have this they are normally static pieces of HTML that
  has been copy pasted into the page.

 -->


  <table>
   
    <tr>
      <th>{{enterLoanData}}</th>
      <td>{{calculatorTitle}}</td>
    </tr>
    <tr>
      <td>
        {{loanAmount}}
      </td>
      <td><input id="amount" onchange="calculate();"></td>
      <td rowspan=8>
        <canvas id="graph" width="400" height="250"></canvas>
      </td>
    </tr>

    <tr>
      <td>{{annualInterest}}}</td>
      <td> <input id="apr" onchange="calculate();"></td>
    </tr>
    <tr>
      <td> {{repaymentPeriodInYears}} </td>
      <td> <input id="years" onchange="calculate();"> </td>
    </tr>
    <tr>
      <td>
      {{zipcode}}
      </td>
      <td><input id="zipcode" onchange="calculate();"></td>

    <tr>
      <th> {{ approximatePayments}} </th>
      <td>
        <button (click)='think();'>{{calculatorButton}}</button>
      </td>
    </tr>
    <tr>
      <td>{{monthlyPayment}} </td>
      <td>{{currencySymbol}}<span class="output" id="payment"></span></td>
    </tr>

    <tr>
      <td>{{ totalPayment }} </td>
      <td>{{currencySymbol}}<span class="output" id="total"></span></td>
    </tr>

    <tr>
      <td>{{totalinterest }}</td>
      <td>{{currencySymbol}}
        <span class="output" id="totalinterest"></span>
      </td>
    </tr>

    <tr>
      <th> {{sponsors}}</th>
      <td colspan="=2">
        
        <div id="lenders">{{lendersText}}</div>
    </tr>

  </table>
